
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FF2930">

    <title>Foursnac-EmBreve</title>


    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="~/Content/css/Site.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">

    <link href="~/Content/fonts/font-foursnac/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body style="margin:0; overflow:hidden">
    <img id="Img" src="~/Content/img/wallpapper/6.jpg"; style="width:100%;" />
    <span class="spnLogoBreve"></span>
    <span class="spnEmBreve">em breve</span>
</body>

</html>
