<!DOCTYPE html>
@{
    Layout = null;
}

<html>
<head>
    <script type="text/javascript" src="~/Scripts/BarraSocial.js"></script>
    <script type="text/javascript">

    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FF2930">

    <title>Delivery em Araçatuba e Birigui - Foursnac</title>
    <meta name="description" content="Faça seu pedido pela intenet e receba em casa. A maoir lista de restaurantes online em sua cidade. O jeito mais  facil de pedir de comida.">
    <meta name="keywords" content="delivery, delidery araçatuba, delivery birigui, pizza em araçatuba, pizza em birigui, lanches, lanches birigui, lanches araçatuba, pedir comida araçatuba, pedir comida birigui, restaurantes araçatuba, restaurantes birigui">

    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="~/Content/css/Site.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">

    <link href="~/Content/fonts/font-foursnac/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />


</head>

<body class="landing">


    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <div id="icoVoltar" onclick="Voltar();" class="fa fa-chevron-circle-left Voltar NoDisplay"></div>
            <a id="Logo3" href="/home/index"><div class="LogoCentralHeader NoDisplay" title="Foursnac"></div></a>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"></a>
                        <div id="menu">
                            <ul>
                                <li><a href="/home/index">Home</a></li>
                                <li><a href="#" id="aLogin">Login</a></li>
                                <li><a href="">Cadastre-se</a></li>
                                <li><a href="/estabelecimento/index">Estabelecimento</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>


        <!-- Banner -->
        <!--style="background-image:url(/Content/img/wallpapper/@ViewBag.Imagem);"-->

        <section id="Titulo" class="Titulo">
            <a href="/home/index"><div class="LogoCentral" title="Foursnac"></div></a>
            <img />
            <!--Busca Cep-->
            <div id="CaixaCep" class="CaixaCep">

                <form name="form" id="form">

                    <div id="divCep" class="divCep">
                        <input id="Cep" type="tel" onkeypress="return somenteNumeros(event);" onblur="this.placeholder ='digite seu cep'" onfocus="this.placeholder =''" name="cep" value="" class="Cep" placeholder="digite seu cep" autocomplete="off" />
                    </div>
                    <button type="button" name="btCep" value="tipo" id="btCep" class="btcep">pedir comida</button>
                    @*<button type="button" name="btCepDontPush" value="tipo" id="btCepDontPush" class="btcep" style="background-color:yellow; color:#000">dentro de poucos dias...</button>*@


                </form>
            </div>

            <!-- Resultado Endereço -->
            <a href="/home/index"><div id="Logo2" class="LogoCentral1 NoDisplay"  title="Foursnac"></div></a>

            <div id="CaixaResultado" class="CaixaResultado NoDisplay">


                <div class="divUf">
                    <input id="uf" readonly="true" type="text" class="inputUf" value="" />
                </div>

                <div class="divCidade">
                    <input id="cidade" readonly="true" type="text" class="inputCidade" value="" />
                </div>

                <div class="divRua">
                    <input id="rua" readonly="true" type="text" class="inputRua" value="" />
                </div>

                <div class="divNum">
                    <input id="num" type="tel" class="inputNum" value="" onblur="this.placeholder ='Nº'" onfocus="this.placeholder =''" placeholder="Nº" />
                </div>

                <div class="divComplemento">
                    <input id="complemento" type="text" class="inputComplemento" value="" onblur="this.placeholder ='complemento'" onfocus="this.placeholder =''" placeholder="complemento" />
                </div>

                <button class="btVoltar" onclik="Voltar()">voltar</button>
                <button class="btContinuar" id="goTipo" onclick="GoToTipo();">pedir comida</button>


            </div>

            <!--Seleciona o tipo Delivery/Pickup-->
            
            <div id="CaixaTipo" class="CaixaTipo NoDisplay">
                <div class="divDeliveryCor tipo" id="delivery" style="cursor:pointer">

                    <div class="img-Delivery"></div>
                    <div class="TextoDelyvery">quero <span style="font-weight:bold">delivery</span> </div>

                </div>

                <div class="divPickupCor tipo" id="pickup" style="cursor:pointer">

                    <div class="img-Pickup"></div>
                    <div class="TextoPickup">quero <span style="font-weight:bold">buscar no local</span> </div>

                </div>
            </div>


            <div id="NaoSei"><a href="" class="NaoSeiCep NoDisplay">Não sei meu cep </a></div>



        </section>
        <section id="about" class="about who">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p class="FooterTitulow">DELIVERY DE COMIDA EM ARAÇATUBA, BIRIGUI E REGIÃO</p>
                        <p class="whoText">
                            Ligar para pedir comida é coisa do passado. Agora com o FourSnac, em quatro passos simples você recebe na sua casa ou busca sem ficar esperando seu pedido ficar pronto. No FourSnac você encontra os melhores restaurantes, lanchonetes e pizzarias perto da sua casa. É prático e seguro. Experimente!     
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--Passo a passo -->
        <section id="Passo" class="Passo">

            <div class="container">

                <div class="col-md-12 col-sm-12  col-xs-12">
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo1">
                            <span class="fa fa-4x span-circle" id="Passo1">
                                <i class="icon-location74 icoCirculo"></i>
                            </span>
                            <div><b>1.</b><span class="TextoPasso">Localize</span></div>
                            <div class="TextoPasso">facilmente</div>
                        </div>

                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo2">
                            <span class="fa fa-4x span-circle" id="Passo2">

                                <i class="icon-iconesestabelecimentos icoCirculo">  </i>

                            </span>
                            <div><b>2.</b><span class="TextoPasso">Selecione um</span></div>
                            <div class="TextoPasso">estabelecimento</div>
                        </div>

                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo3">
                            <span class="fa fa-4x span-circle" id="Passo3">
                                <i class="icon-pizza2 icoCirculo icoCirculoPizza">  </i>
                            </span>
                            <div><b>3.</b><span class="TextoPasso">Escolha sua</span></div>
                            <div class="TextoPasso">comida</div>
                        </div>


                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo4">
                            <span class="fa fa-4x span-circle" id="Passo4">
                                <i class="icon-money-card4 icoCirculo">  </i>
                            </span>
                            <div><b>4.</b><span class="TextoPasso">Defina como</span></div>
                            <div class="TextoPasso">pagar</div>
                        </div>

                    </div>
                </div>


            </div>

        </section>
        

        <!-- Footer -->
        @Html.Partial("_Footer")

    </div>

    <!-- Scripts -->

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>

    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="~/Scripts/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/Home.js"></script>


</body>
</html>
