<!DOCTYPE html>
<html>
<head>
     <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#FF2930">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FF2930">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foursnac</title>

</head>
<body>
   
        @RenderBody()
   
</body>
</html>
