
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FF2930">

    <title>Foursnac</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/img/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/img/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/img/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/img/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/img/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/img/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/img/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/ico/favicon-16x16.png">
    <link rel="manifest" href="~/Content/img/ico/manifest.json">

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?3hCSZlIi04fStrYCFoyIkBr5QCysyWDQ";z.t=+new Date;$.
        type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zopim Live Chat Script-->


    <link href="//vjs.zencdn.net/4.9.0/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/4.9.0/video.js"></script>

    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="~/Content/css/Site.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <link href="~/Content/fonts/font-foursnac/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body class="landing">


    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"></a>
                        <div id="menu">
                            <ul id="ulSideMenu">
                                <li><a href="/home/index">Home</a></li>
                                <li><a href="#" id="aLogin">Login</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>


        <!-- Banner -->
        <!-- style="background-image:url(/Content/img/wallpapper/ViewBag.Imagem); -->

        <section id="Titulo" class="Titulo">

            <form name="form" id="form">
                <a href="/home/index"><div class="LogoCentral"></div></a>

                <div id="CaixaEmail" class="CaixaEmail">

                    <div id="divEmail" class="divEmail">
                        <input id="email" type="text" name="email" value="" onkeypress="" style="color:#000" class="Email" placeholder="email" onblur="this.placeholder='email' " onfocus="this.placeholder='' " />
                    </div>

                    <button id="btEmail" type="button" onclick="Estabelecimento();" name="btEmail" value="" class="btEmail">vender mais</button>

                </div>

            </form>
        </section>

        <!--Passo a passo -->
        <section id="Passo" class="Passo">

            <div class="container">

                <div class="col-md-12 col-sm-12  col-xs-12">
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo1">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x corPassoCir" id="Passo1"></i>
                                <i class="icon-Cadastre-se" style="position:absolute; margin:35px 15PX 0 -20PX; color:#FFF; font-size:40px;"></i>
                            </span>
                            <div><b>1.</b><span class="TextoPasso">Cadastre-se na</span></div>
                            <div class="TextoPasso">plataforma.</div>
                        </div>

                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo2">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x corPassoCir" id="Passo2" mou></i>
                                <i class="icon-Customizesuasinformaes" style="position:absolute; margin:35px 15PX 0 -20PX; color:#FFF; font-size:40px; font-weight:500">  </i>

                            </span>
                            <div><b>2.</b><span class="TextoPasso">Configure suas</span></div>
                            <div class="TextoPasso">informações.</div>
                        </div>

                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo3">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x corPassoCir" id="Passo3"></i>
                                <i class="icon-RecebaPedidos" style="position:absolute; margin:35px 15PX 0 -20PX; color:#FFF; font-size:40px;">  </i>
                            </span>
                            <div><b>3.</b><span class="TextoPasso">Receba mais</span></div>
                            <div class="TextoPasso">pedidos.</div>
                        </div>


                        <div class="col-md-3 col-sm-3  col-sm-12 col-xs-12" id="divCirculo4">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x corPassoCir" id="Passo4"></i>
                                <i class="icon-Administreerecebainsights" style="position:absolute; margin:35px 15PX 0 -20PX; color:#FFF; font-size:40px;">  </i>
                            </span>
                            <div><b>4.</b><span class="TextoPasso">Administre seu</span></div>
                            <div class="TextoPasso">negocio.</div>
                        </div>

                    </div>
                </div>


            </div>

        </section>

        <!--video-->
        <section id="meuvideo" style="text-align:center;">
            <div style="width:100%; height:auto;">
                <video onclick="playPause()" id="divVideo" preload="auto" style="width:100%; height:auto; z-index:99999; background-color:#FF2930;" poster="/Content/img/red.png">
                    <source src="~/Content/video/video1.mp4" media="screen and (min-width:800px)">
                    <source src="~/Content/video/video1.ogv" media="screen and (min-width:800px)">
                    <source src="~/Content/video/video1.webm" media="screen and (min-width:800px)">
                    <source src="~/Content/video/video1.mp4" media="screen and (max-width:799px)">
                    <source src="~/Content/video/video1.ogv" media="screen and (max-width:799px)">
                    <source src="~/Content/video/video1.webm" media="screen and (max-width:799px)">

                </video>
                <div id="btPlay" class="fa fa-play-circle btPlay" onclick="playPause()"></div>
            </div>
        </section>




        <!-- Footer -->
        @Html.Partial("_Footer")

    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="~/Scripts/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Estabemecimento.js"></script>
</body>
</html>



